<!DOCTYPE html>
<html>
<head>
  <title>Auto Repairs | California Auto Center</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f2f2f2;
  padding: 20px 20px;
  grid-gap: 20px;
}
.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6, .grid-item7, .grid-item8, .grid-item9, .grid-item10, .grid-item11, .grid-item12, .grid-item13, .grid-item14, .grid-item15, .grid-item16, .grid-item17, .grid-item18, .grid-item19, .grid-item20, .grid-item21, .grid-item22, .grid-item23, .grid-item24, .grid-item25, .grid-item26, .grid-item27, .grid-item28 {
  background-color: #e9f6fa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 14px;
  text-align: left;
}

.grid-item1 {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.grid-item2, .grid-item4, .grid-item6, .grid-item8, .grid-item10, .grid-item12, .grid-item14, .grid-item16, .grid-item18, .grid-item20, .grid-item22, .grid-item24, .grid-item26, .grid-item28 {
  grid-column: 2 / span 2;
}

p {
  font-size: 13px;
}

</style>
</head>
<body class="about_us">
<div class="booyah-box col-10 offset-1">
<br />

<h1>Repairs</h1>

<b><h5>California Auto Center is one of the leading auto repair shop serving customer in Millbrae CA and surrounding areas.  We will take great care of your vehicle.  Our Highly skilled and highly trained mechanics had the passionate to fix your vehicle, you can be sure that your vehicle will run perfect with our care.</h5></b>

<br />

<div class="grid-container">
  
  <div class="grid-item1"><%= image_tag("engine_repair.jpg", :width=>"400", :height=>"270", :alt=> "Engine Repair") %></div>
  <div class="grid-item2"><b><h4>Signs of engine failure:</h4>
    <p>Engine Knocking Noise;<br />Increased Exhaust Fume;<br />Check Engine Light In Dash;<br />Loss Of Engine Power;<br />Engine Misfiring;<br />Engine Motor Oil Leaks Under Your Vehicle;</p><h6>If you encounter some of this symptoms, contact us and we can help with your engine repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item3"><%= image_tag("transmission.jpg", :width=>"400", :height=>"270", :alt=> "Transmission Repair") %></div> 
  <div class="grid-item4"><b><h4>Signs of transmission failure:</h4>
    <p>Lack of Transmission Response;<br />Refusal to Switch Gears;<br />Slipping Gears Shifting;<br />Check Engine Light In Dash;<br />Grinding Gear Noise;<br />Transmission Fluid Leaks Under Your Vehicle;</p><h6>If you encounter some of this symptoms, contact us and we can help with your transmission repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item5"><%= image_tag("brake_repair.jpg", :width=>"400", :height=>"270", :alt=> "Brake Repair") %></div>
  <div class="grid-item6"><b><h4>Signs of brake failure:</h4>
    <p>Brake Warning Light In Dash;<br />Squealing, Squeaking or Grinding Noises;<br />Vibration When Braking In High Speed;<br />Brake Fluid Leak Under Your Vehicle;<br />Spongy Brake Pedal When Press;<br />Burning Smell While Driving;</p><h6>If you encounter some of this symptoms, contact us and we can help with your brake repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr /> 
  <div class="grid-item7"><%= image_tag("engine_diagnostic.jpg", :width=>"400", :height=>"270", :alt=> "Engine Diagnostic Repair") %></div>
  <div class="grid-item8"><b><h4>Signs of failure require for diagnostic:</h4>
    <p>Check Engine Light In Dash;<br />Using More Gas than Normal;<br />Decreased Performance;<br />Rough Idling;<br />Strange Noises From Engine Compartment;<br />Smelly Odors produced by your vehicle;</p><h6>If you encounter some of this symptoms, contact us and we can help with your diagnostic repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item9"><%= image_tag("starter.jpg", :width=>"400", :height=>"270", :alt=> "Starting System Repair") %></div>
  <div class="grid-item10"><b><h4>Signs of starting system failure:</h4>
    <p>Your Engine Won't Crank;<br />You Have Dashboard Light But No Start;<br />Whirring or Grinding Noise When Start Engine;<br />Starter Stays On When Engine Started Up;<br />You Need To Crank More Times To Start Up Vehicle;<br />You Notice Smoke Coming From Your Starter;</p><h6>If you encounter some of this symptoms, contact us and we can help with your starting system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item11"><%= image_tag("alternator.jpg", :width=>"400", :height=>"270", :alt=> "Charging System Repair") %></div>
  <div class="grid-item12"><b><h4>Signs of charging system failure:</h4>
    <p>Charging System Failure Light In Dash;<br />Battery Dies Or Weak Battery Voltage;<br />Loss Of Power;<br />Flickering Gauge In Dash;<br />Engine Start OK But Battery Don't Stay Charge;</p><h6>If you encounter some of this symptoms, contact us and we can help with your charging system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item13"><%= image_tag("suspension.jpg", :width=>"400", :height=>"270", :alt=> "Steering, Suspension Repair") %></div>  
  <div class="grid-item14"><b><h4>Signs of steering, suspension system failure:</h4>
    <p>Bumpy Rides Performance;<br />Difficult Steering;<br />Pull To One Side When Driving;<br />Oily Shocks Absorber and Struts;<br />Uneven tires wear;</p><h6>If you encounter some of this symptoms, contact us and we can help with your steering and suspension system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item15"><%= image_tag("drivetrain_system.jpg", :width=>"400", :height=>"270", :alt=> "Drivetrain and Axle Repair") %></div>
  <div class="grid-item16"><b><h4>Signs of drivetrain and axle failure:</h4>
    <p>Clicking And Knocking Noises When Turning;<br />Vibrations From Under The Vehicle;<br />Difficulty Turning;<br />Squeaking Noise;<br />Shuddering During Acceleration;</p><h6>If you encounter some of this symptoms, contact us and we can help with your drivetrain and axle repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item17"><%= image_tag("4_wheel_drive.jpg", :width=>"400", :height=>"270", :alt=> "4 Wheels Drive System Repair") %></div>
  <div class="grid-item18"><b><h4>Signs of 4WD failure:</h4>
    <p>Difficulty Engaging 4WD;<br />4WD Stuck In Mode;<br />4WD Mode Does Not Activate;<br />Service 4WD Message In Dash;<br />Unusal Grinding Noise;<br />Trouble Shifting Gears;</p><h6>If you encounter some of this symptoms, contact us and we can help with your 4WD system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item19"><%= image_tag("coolant_low_message.jpg", :width=>"400", :height=>"270", :alt=> "Cooling System Repair") %></div>
  <div class="grid-item20"><b><h4>Signs of cooling system failure:</h4>
    <p>Engine Overheating;<br />Coolant Leaks Under The Vehicle;<br />Smokes From Underneath The Hood;<br />Low Coolant Level After Top Off Coolant;<br />White Exhaust Smoke Fume From Tailpipe;<br />Sweet Smell From Cabin Or Engine Compartment;</p><h6>If you encounter some of this symptoms, contact us and we can help with your cooling system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item21"><%= image_tag("AC_temp.jpg", :width=>"400", :height=>"270", :alt=> "Climate Control System Repair") %></div>  
  <div class="grid-item22"><b><h4>Signs of climate control system failure:</h4>
    <p>Not Blowing Cold Air;<br />Not Blowing Hot Air;<br />Intermittent Cooling;<br />Climate Control Does Not Work Properly;<br />Noise From Engine Compartment When Turn On AC;</p><h6>If you encounter some of this symptoms, contact us and we can help with your climate control system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item23"><%= image_tag("electrical_repair.jpg", :width=>"400", :height=>"270", :alt=> "Electrical System Repair") %></div>
  <div class="grid-item24"><b><h4>Signs of electrical system failure:</h4>
    <p>Engine Won't Crank;<br />You Are Experience Battery Problem;<br />Fuses Keep Blowing Out;<br />Headlights Or Lights Keep Burning Out;<br />You Smell Of Melting Plastic Or Electrical Insulation;</p><h6>If you encounter some of this symptoms, contact us and we can help with your electrical system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item25"><%= image_tag("exhaust_system.jpg", :width=>"400", :height=>"270", :alt=> "Exhaust System Repair") %></div>
  <div class="grid-item26"><b><h4>Signs of exhaust system failure:</h4>
    <p>Check Engine Light In Dash;<br />Strange Noise When Accelerating;<br />Vibration Or Loss Of Power When Driving;<br />Heavy Exhaust Fume;<br />Decreased Fuel Efficiency;<br />Loose Or Hanging Exhaust Pipe;</p><h6>If you encounter some of this symptoms, contact us and we can help with your exhaust system repair.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item27"><%= image_tag("glass_replacement.jpg", :width=>"400", :height=>"270", :alt=> "Glass Repair and Replacement Service") %></div>
  <div class="grid-item28"><b> <h4>Glass Repair and Replacement Service:</h4>
    <p>If Your Vehicle Got Broken Into;<br />Damaged Or Cracked Windshield;<br />Broken Door Window Glass;<br />Broken Rear Quarter Panel Glass;<br />Broken Or Cracked Back Window Glass;<br />Broken Or Cracked Back Tailgate Glass;</p><h6>If you encounter some of this issues, contact us and we can help with your glass repair and replacement service.</h6></b><a href="contact_us" class="btn btn-primary custom" role="button">Set Appointment</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div> 
</div>
</div>
</body>
<br /><br /><br /><br />
<hr />
</html>