<!DOCTYPE html>
<html>
<head>
  <title>Auto Repairs | California Auto Center</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f2f2f2;
  padding: 20px 20px;
  grid-gap: 20px;
}
.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6, .grid-item7, .grid-item8, .grid-item9, .grid-item10, .grid-item11, .grid-item12, .grid-item13, .grid-item14, .grid-item15, .grid-item16, .grid-item17, .grid-item18, .grid-item19, .grid-item20, .grid-item21, .grid-item22, .grid-item23, .grid-item24, .grid-item25, .grid-item26, .grid-item27, .grid-item28 {
  background-color: #e9f6fa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 14px;
  text-align: left;
}

.grid-item1 {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.grid-item2, .grid-item4, .grid-item6, .grid-item8, .grid-item10, .grid-item12, .grid-item14, .grid-item16, .grid-item18, .grid-item20, .grid-item22, .grid-item24, .grid-item26, .grid-item28 {
  grid-column: 2 / span 2;
}

p {
  font-size: 13.5px;
}

</style>
</head>
<body class="about_us">
<div class="booyah-box col-10 offset-1">
<br />

<h1>Repairs</h1>

<b><h5>California Auto Center is one of the leading auto repair shop serving customer in Millbrae CA and surrounding areas.  We provides top notch fast, efficient repair and maintenance services. Plus, our Professional Service Advisors recommend only the services your vehicle needs based on manufacturer guideline. We will help you keep your vehicle with up to date scheduled service, explain to you what your vehicle needs are. We want make your vehicle to stay "Top Notch" condition.</h5></b>

<br />

<div class="grid-container">
  
  <div class="grid-item1"><%= image_tag("engine_repair.jpg", :width=>"400", :height=>"270", :alt=> "Engine Repair") %></div>
  <div class="grid-item2"><b><h3>Engine Repair</h3>
    <p>Regular oil change helps maintain engine lubricate from engine seize up.<br />It helps make engine component cool down from overheat.<br />It helps remove engine wear particles and sludges that can cause damage to your engine.<br />It helps improve fuel efficiency.<br />At California Auto Center, we can help with your oil change services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item3"><%= image_tag("transmission.jpg", :width=>"400", :height=>"270", :alt=> "Transmission Repair") %></div> 
  <div class="grid-item4"><b><h3>Transmission Repair</h3>
    <p>By keeping a on time car maintenance schedule, you can help prevent major problems and extra car expenses before they occur. Also with keeping a detailed record of your car's maintenance history can help improve its resale value.<br />At California Auto Center, we can help with your scheduled maintenance services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item5"><%= image_tag("brake_repair.jpg", :width=>"400", :height=>"270", :alt=> "Brake Repair") %></div>
  <div class="grid-item6"><b><h3>Brake Repair</h3>
    <p>Tires can affect your vehicle handling, ride experiences, braking safely.<br />For best performance from your tires, make sure it have the correct air pressure, tread depth, perform routine balancing tires and perform wheels rotation can provide you comfortable ride experience.<br />At California Auto Center, we can help with your tires maintenance services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr /> 
  <div class="grid-item7"><%= image_tag("engine_diagnostic.jpg", :width=>"400", :height=>"270", :alt=> "Engine Diagnostic") %></div>
  <div class="grid-item8"><b><h3>Engine Diagnostic</h3>
    <p>Battery testing and maintenance can help your battery maximize its battery life.<br />A routine inspection is recommended to maintain battery performance.<br />At California Auto Center, we can help with your battery services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item9"><%= image_tag("starter.jpg", :width=>"400", :height=>"270", :alt=> "Starting System") %></div>
  <div class="grid-item10"><b><h3>Starting System Repair</h3>
    <p>Tune-up is a type of preventive maintenance performed on a vehicle to ensure it continues to perform well.<br />Getting it regularly will help your vehicle's performance and extend its life.<br />At California Auto Center, we can help with your engine tune-up services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item11"><%= image_tag("alternator.jpg", :width=>"400", :height=>"270", :alt=> "Charging System") %></div>
  <div class="grid-item12"><b><h3>Charging System Repair</h3>
    <p>Wheel Alignment can affect your vehicle handling, ride experiences, fuel efficiency and tire life.<br />If you have poor wheel Alignment, it can cause your vehicle to pull, waste more fuel, cause uneven wear on your tires and can put your safety at risk.<br />At California Auto Center, we can help with your wheel alignment services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item13"><%= image_tag("suspension.jpg", :width=>"400", :height=>"270", :alt=> "Steering, Suspension Repair") %></div>  
  <div class="grid-item14"><b><h3>Steering and Suspension System Repair</h3>
    <p>The braking system is the main safety features in any vehicle. Of its various components, the brake pads and brake disc need to be maintained and replaced, as they are subject to wear.<br />If you have an issue with your brake system, it can put your safety at risk.<br />At California Auto Center, we can help with your brake services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item15"><%= image_tag("drivetrain_system.jpg", :width=>"400", :height=>"270", :alt=> "Drivetrain and Axle Repair") %></div>
  <div class="grid-item16"><b><h3>Drivetrain and Axle Repair</h3>
    <p>Performing fluid exchange services can maximize the life of your vehicle by protecting its critical systems including brakes, cooling, fuel, power steering, and transmission.<br />At California Auto Center, we can help with your fluid exchange services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item17"><%= image_tag("4_wheel_drive.jpg", :width=>"400", :height=>"270", :alt=> "4 Wheels Drive System") %></div>
  <div class="grid-item18"><b><h3>4WD System Repair</h3>
    <p>Your car takes in air into the engine through the air filter. The air filter takes out dust, leaves, and other debris from the air before enter into the engine. If the air filter is dirty or clogged, your vehicle will not run efficient and might cause all sorts of problems<br />At California Auto Center, we can help with your filters replacement services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item19"><%= image_tag("alternator.jpg", :width=>"400", :height=>"270", :alt=> "Charging System") %></div>
  <div class="grid-item20"><b><h3>Charging System Repair</h3>
    <p>Wheel Alignment can affect your vehicle handling, ride experiences, fuel efficiency and tire life.<br />If you have poor wheel Alignment, it can cause your vehicle to pull, waste more fuel, cause uneven wear on your tires and can put your safety at risk.<br />At California Auto Center, we can help with your wheel alignment services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item21"><%= image_tag("suspension.jpg", :width=>"400", :height=>"270", :alt=> "Steering, Suspension Repair") %></div>  
  <div class="grid-item22"><b><h3>Steering and Suspension System Repair</h3>
    <p>The braking system is the main safety features in any vehicle. Of its various components, the brake pads and brake disc need to be maintained and replaced, as they are subject to wear.<br />If you have an issue with your brake system, it can put your safety at risk.<br />At California Auto Center, we can help with your brake services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item23"><%= image_tag("drivetrain_system.jpg", :width=>"400", :height=>"270", :alt=> "Drivetrain and Axle Repair") %></div>
  <div class="grid-item24"><b><h3>Drivetrain and Axle Repair</h3>
    <p>Performing fluid exchange services can maximize the life of your vehicle by protecting its critical systems including brakes, cooling, fuel, power steering, and transmission.<br />At California Auto Center, we can help with your fluid exchange services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />
  <div class="grid-item25"><%= image_tag("4_wheel_drive.jpg", :width=>"400", :height=>"270", :alt=> "4 Wheels Drive System") %></div>
  <div class="grid-item26"><b><h3>4WD System Repair</h3>
    <p>Your car takes in air into the engine through the air filter. The air filter takes out dust, leaves, and other debris from the air before enter into the engine. If the air filter is dirty or clogged, your vehicle will not run efficient and might cause all sorts of problems<br />At California Auto Center, we can help with your filters replacement services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div><hr /><hr /><hr />  
  <div class="grid-item27"><%= image_tag("glass_replacement.jpg", :width=>"400", :height=>"270", :alt=> "Glass Repair and Replacement Services") %></div>
  <div class="grid-item28"><b> <h3>Glass Repair and Replacement Services</h3>
    <p>The drive belts and timing belt are responsible for connecting the alternator, power steering, AC, water pump and other important components. Over time, they will develop wear and tear caused by the engine. Eventually, the belts will break if not service causing serious problems for your vehicle.<br />At California Auto Center, we can help with your belt replacement services.</b></p><a href="contact_us" class="btn btn-primary custom" role="button">Request a quote</a></div> 
</div>
</div>
</body>
<br /><br /><br /><br />
<hr />
</html>